.teams-list{
    margin: 20px auto;
    width: 100%;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

@media (max-width: 600px) {
    .teams-list{
        display: block;
    }
}

    